<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

        <servlet>
            <servlet-name>selectCom</servlet-name>
            <servlet-class>webProject.servlet.selectCom</servlet-class>
        </servlet>
    <servlet-mapping>
        <servlet-name>selectCom</servlet-name>
        <url-pattern>/selcom</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>selectHyh</servlet-name>
        <servlet-class>webProject.servlet.selectHyh</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>selectHyh</servlet-name>
        <url-pattern>/selhyh</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>selectuser</servlet-name>
        <servlet-class>webProject.servlet.selectuser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>selectuser</servlet-name>
        <url-pattern>/seluer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>selectuserDh</servlet-name>
        <servlet-class>webProject.servlet.selectuserDh</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>selectuserDh</servlet-name>
        <url-pattern>/seluerdh</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>selectuserUp</servlet-name>
        <servlet-class>webProject.servlet.selectuserUp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>selectuserUp</servlet-name>
        <url-pattern>/seluerUp</url-pattern>
    </servlet-mapping>    <servlet>

        <servlet-name>Upuser</servlet-name>
        <servlet-class>webProject.servlet.Upuser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Upuser</servlet-name>
        <url-pattern>/upuser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>selectHome</servlet-name>
        <servlet-class>webProject.servlet.selectHome</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>selectHome</servlet-name>
        <url-pattern>/selehome</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>selectShop</servlet-name>
        <servlet-class>webProject.servlet.selectShop</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>selectShop</servlet-name>
        <url-pattern>/seleshop</url-pattern>
    </servlet-mapping>

<servlet>
        <servlet-name>insertShop</servlet-name>
        <servlet-class>webProject.servlet.insertShop</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertShop</servlet-name>
        <url-pattern>/inseshop</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleshop</servlet-name>
        <servlet-class>webProject.servlet.deleshop</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleshop</servlet-name>
        <url-pattern>/dlshop</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>shopupda</servlet-name>
        <servlet-class>webProject.servlet.shopupda</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>shopupda</servlet-name>
        <url-pattern>/shopud</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>dlshopuse</servlet-name>
        <servlet-class>webProject.servlet.dlshopuse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dlshopuse</servlet-name>
        <url-pattern>/dlusesp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ddcgSelect</servlet-name>
        <servlet-class>webProject.servlet.ddcgSelect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ddcgSelect</servlet-name>
        <url-pattern>/ddcgsele</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>seleOrder</servlet-name>
        <servlet-class>webProject.servlet.orderSele</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>seleOrder</servlet-name>
        <url-pattern>/seleord</url-pattern>
    </servlet-mapping>

<servlet>
        <servlet-name>collectinse</servlet-name>
        <servlet-class>webProject.servlet.collectinse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>collectinse</servlet-name>
        <url-pattern>/collinse</url-pattern>
    </servlet-mapping>


</web-app>